body,html{
    height:100%;
    margin:0;
    padding:0;
    font-family: Arial;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1{
    font-size:40px;
    text-transform: uppercase;
    margin:0;
}

h2{
    font-size:30px;
    text-transform: uppercase;
    margin:0;
}

.baggrundsbillede{
    background-image: url("baggrundsbillede.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    filter: blur(2px);
}

.baggrundstext p{
    padding: 0 8%;
    font-family: marienda;
}

b{
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid #fff;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
}

.Titel{
    text-align: center;
    position: absolute;
    top: 0%;
    bottom: 100%;
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px lightskyblue, 0 0 5px lightskyblue;
}

.knap { display: none; }

.knap + label {
    cursor: pointer;
    position: absolute;
    right: 1em;
    bottom: 1em;
    background-color: lightblue;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    z-index: 2;
}

.knap + label:before, .knap + label:after {
    position: absolute;
    content: '';
    height: 15px;
    width: .30em;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: .10em;
    transition: all .30s;

}

.knap + label:before {
    height: 40px;
    width: .35em;
}

.knap+ label:after {
    width: 40px;
    height: .35em;
}

.knap:checked + label:before { transform: rotatez(-45deg); }

.knap:checked + label:after { transform: rotatez(-45deg); }

.one, .two, .three {
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 2em;
    bottom: 2em;
    padding: 2em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
    transform: rotateZ(90deg);
    font-size: 1em;
    color: #fff;
    transition-property: all;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    justify-content:center;
    align-items: center;
}

.knap:checked ~ .one, .knap:checked ~ .two, .knap:checked ~ .three { opacity: 1; }

.knap:checked ~ .one {
    background-color: dodgerblue;
    transform: translateX(-7em);
    transition-delay: .2s;
}

.knap:checked ~ .two {
    background-color: deepskyblue;
    transform: translateX(-6.5em) translateY(-6.5em);
    transition-delay: .1s;
}

.knap:checked ~ .three {
    background-color: cornflowerblue;
    transform: translateY(-7em);
}

.knap:checked ~.one:hover, .knap:checked ~ .two:hover, .knap:checked ~ .three:hover { opacity: .9; }

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-line: silver;
    width: 150px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    top: 0%;
    bottom: 100%;
    left: 92%;
    right: 8%;
    display: inline-block;
    width: 40px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: silver;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent;}

.cprtext{
    width: 400px;
    height: 400px;
    margin-bottom: 400px;

}
.starttext{

}

.varighedtext{


}
notattext{


}

.starttidspunkt{

}

.varighed{

}

.notat{

}

